
.source.c {

    .constant {
        &.numeric {
            color: @purple !important;
        }
        &.other.placeholder {
            color: @orange;
        }
    }

    .entity.name {
        &.function.preprocessor {
            color: @green;
        }
    }

    .keyword.control.directive.define {
        color: @orange;
    }

    .storage {
        &.type {
            color: @blue;
        }
    }

    .support {
        &.function {
            color: @blue;
        }
        &.type.sys-types {
            color: @purple;
        }
    }

    .variable.other.member {
        color: @purple;
    }

}
