// C++

.source.cpp {

    .entity.name {
        &.function {
            color: @green;
            &.preprocessor {
                color: @syntax-text-color;
            }
        }
        &.type {
            color: @green;
            font-weight: normal !important;
        }
    }

    .keyword {
		&.control.directive {
			color: @magenta;
		}
		&.operator {
	        color: @magenta;
	        &.bitwise.shift {
	            font-weight: 900;
	        }
		}
    }

    .meta {
        &.block {
            color: @syntax-text-color;
        }
		&.class-struct-block {
			color: @syntax-text-color;
		}
        &.function {
            color: @syntax-text-color;
        }
        &.parens {
            color: @orange;
        }
		&.preprocessor {
			color: @syntax-text-color;
		}
		&.using-namespace-declaration {
			color: @syntax-text-color;
		}
    }

    .punctuation {
        color: @syntax-text-color;
		&.definition.directive {
			color: @purple;
		}
        &.section.parens {
            color: @syntax-text-color;
        }
    }

    .storage {
        &.type {
            color: @blue;
            &.class {
	            color: @magenta;
			}
        }
    }

    .support {
        &.function.any-method {
            color: @blue;
        }
    }

}



// Makefile
.source.makefile {

	.entity.name.function.target {
		color: @magenta;
		font-weight: bold;
	}

    .meta.scope {
        &.prerequisites {
    	    color: @blue;
        }
		&.recipe {
			color: @syntax-text-color;
			font-weight: light;
		}
        &.target {
            color: @orange;
        }
    }

    .punctuation.separator.key-value {
        color: @purple;
    }

}
