// C#

.source.cs {
    .entity.name.type.namespace {
        color: @purple;
    }
    
    .meta {
        &.method-call {
            color: @blue;
        }
    }

    .punctuation {
        &.definition {
            color: @syntax-text-color;
            &.string {
                color: @yellow;
            }
        }
        &.section.class.end {
            color: @syntax-text-color;
        }
    }

    .variable {
        &.parameter.function {
            color: @orange;
        }
    }
}
