// CSS

.source.css {
	.entity {
    	&.name.tag {
        	color: @green;
    	}
    	&.other.attribute-name {
        	font-weight: normal !important;
        	&.class {
            	color: @magenta;
            	&.mixin {
                	color: @green;
            	}
        	}
        	&.id {
            	color: @magenta;
            	font-weight: bold;
        	}
        	&.parent-selector {
            	color: @purple;
        	}
			&.pseudo-class {
            	color: @orange;
        	}
        	&.pseudo-element {
            	color: @purple;
        	}
    	}
	}

	.constant {
    	&.property-value {
        	color: @green;
    	}
	}

	.keyword {
		&.control {
			color: @magenta;
			&.logical.operator {
				color: @blue;
			}
		}
		&&.other {
			&.important {
				color: @purple;
				font-weight: bold;
			}
		}
	}

	.meta {
	    .at-rule.import {
	        color: @orange;
	    }
	    .property-list {
	        color: @blue;
	    }
	}

	.punctuation {
	    &.section {
	        color: @syntax-text-color;
	    }
		&.definition {
			&.entity {
	        	color: @blue;
			}
			&.keyword {
				color: @magenta;
			}
		}
	    &.separator.key-value {
	        color: @blue;
	    }
	}

	.support {
	    &.function.any-method.builtin {
	        color: @green;
	    }
	    &.type.property-name {
	        color: @syntax-text-color;
	    }
	}

	.variable {
	    &.parameter.misc {
	        color: @blue;
	    }
	}
}


.keyword.control {
    &.at-rule.import.less {
        color: @purple;
    }
}

.punctuation {
    &.definition.keyword.less {
        color: @orange;
    }
}

.support {
    &.function.any-method.builtin.less {
        color: @magenta;
    }
}
