// CSS

.syntax--source.syntax--css {
	.syntax--entity {
    	&.syntax--name.syntax--tag {
        	color: @green;
    	}
    	&.syntax--other.syntax--attribute-name {
        	font-weight: normal !important;
        	&.syntax--class {
            	color: @magenta;
            	&.syntax--mixin {
                	color: @green;
            	}
        	}
        	&.syntax--id {
            	color: @blue;
            	font-weight: bold;
        	}
        	&.syntax--parent-selector {
            	color: @purple;
        	}
			&.syntax--pseudo-class {
            	color: @orange;
        	}
        	&.syntax--pseudo-element {
            	color: @purple;
        	}
    	}
	}

	.syntax--constant {
    	&.syntax--property-value {
        	color: @green;
    	}
	}

	.syntax--keyword {
		&.syntax--control {
			color: @magenta;
			&.syntax--logical.syntax--operator {
				color: @blue;
			}
		}
		&.syntax--operator.syntax--combinator {
			color: @blue;
		}
		&.syntax--other {
			&.syntax--important {
				color: @purple;
				font-weight: bold;
			}
		}
	}

	.syntax--meta {
	    .syntax--at-rule.syntax--import {
	        color: @orange;
	    }
	    .syntax--property-list {
	        color: @blue;
	    }
	}

	.syntax--punctuation {
	    &.syntax--section {
	        color: @syntax-text-color;
	    }
		&.syntax--definition {
			&.syntax--entity {
	        	color: @blue;
			}
			&.syntax--keyword {
				color: @magenta;
			}
		}
	    &.syntax--separator.syntax--key-value {
	        color: @blue;
	    }
	}

	.syntax--support {
	    &.syntax--function.syntax--any-method.syntax--builtin {
	        color: @green;
	    }
	    &.syntax--type.syntax--property-name {
	        color: @syntax-text-color;
	    }
	}

	.syntax--variable {
	    &.syntax--parameter.syntax--misc {
	        color: @blue;
	    }
	}
}


.syntax--keyword.syntax--control {
    &.syntax--at-rule.syntax--import.syntax--less {
        color: @purple;
    }
}

.syntax--punctuation {
    &.syntax--definition.syntax--keyword.syntax--less {
        color: @orange;
    }
}

.syntax--support {
    &.syntax--function.syntax--any-method.syntax--builtin.syntax--less {
        color: @magenta;
    }
}
