// Java

.source.java.storage {
    &.modifier.import {
        color: @orange;
    }

    &.type {
        color: @blue;
    }
}

.source.java-properties {
    .meta.key-pair {
      color: @magenta;
    }
}

.entity.name.function.java {
    color: @green;
}
