// Java
@import "syntax-variables";

.source.java {
  .storage {
    &.modifier.import {
      color: @orange;
    }

    &.type {
      color: @blue;
    }
  }
}

.source.java-properties {
  .meta.key-pair {
    color: @magenta;

    // & > .punctuation {
    //   color: @mono-1;
    // }
  }
}
