// JSON
@import "syntax-variables";

.punctuation {
    &.definition.dictionary.json {
        color: @syntax-text-color;
    }
    &.separator.dictionary.key-value.json {
        color: @green;
    }
}

.string {
    &.quoted.double.json {
        color: @orange;
    }
}

.meta {
    &.structure.dictionary {
        &.json {
            color: @magenta;
        }

        &.value.json {
            color: @blue;
        }
    }
}

.source.json {
    .meta.structure.dictionary.json {
        & > .string.quoted.json {
            & > .punctuation.string {
                color: @yellow;
            }
            color: @magenta;
        }
    }

    .meta.structure.dictionary.json, .meta.structure.array.json {
        & > .value.json > .string.quoted.json,
        & > .value.json > .string.quoted.json > .punctuation {
            color: @syntax-text-color;
        }

        & > .constant.language.json {
            color: @purple;
        }
    }
}
