// MIPS

.syntax--source.syntax--mips {

    .syntax--constant.syntax--character.syntax--escape {
        color: @purple;
    }

    .syntax--entity.syntax--name.syntax--function.syntax--label {
        color: @green;
    }

    .syntax--meta.syntax--function.syntax--label {
        color: @blue;
    }

    .syntax--storage.syntax--type {
        color: @blue;
    }

    .syntax--support.syntax--function {
        color: @magenta;
    }
}
