// Perl
.source.perl {
    .punctuation.definition {
        &.variable {
            color: @blue;
        }
    }

    .constant.character.escape {
        color: @purple;
    }

    .keyword {
        &.control{
            color: @magenta;
            &.regexp-option {
                color: @green;
                font-style: italic;
            }
        }
    }

    .punctuation.definition {
        &.variable {
            color: @purple;
        }
    }


    .string.regexp {
        color: @orange;
    }

    .support.function {
        color: @green;
    }

    .keyword {
        &.control.regexp-option {
            color: @green;
            font-style: italic;
        }
    }
}
