// PHP

.source.php {

	.meta {
		&.embedded.block {
			color: @purple;
		}
		&.function.arguments {
			&.no-default {
				color: @orange;
			}
		}
	}

	.punctuation.section.embedded {
		color: @purple !important;
	}

	.support.function.construct {
		color: @purple;
	}

}
