// Python

.source.python {

    .entity.name.function {
        color: @blue;
    }

    .keyword {
        &.control.import {
            color: @purple;
            &.from {
                color: @magenta;
            }
        }
        &.operator {
            &.comparison {
                font-weight: bold;
            }
            &.logical {
                color: @blue;
            }
        }
        &.other {
            color: @blue;
        }
    }

    .meta {
        &.function {
            color: @magenta;
        }
    }

    .support {
        &.function.builtin {
            color: @green;
        }
    }

    .storage.type.function {
        color: @magenta;
        font-weight: bold;
    }

    .variable {
        color: @blue;
        font-style: italic;
        &.parameter {
            color: @green;
            font-style: normal;
        }
    }

}
