
atom-text-editor, :host {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;
        .linter {
            border-right: none;
            background: @syntax-background-color;
        }
        .line-number {
            border-right: 1px solid #444;
            &.cursor-line {
                background-color: @syntax-gutter-background-selected;
                color: @syntax-gutter-text-selected;
            }

            &.cursor-line-no-selection {
                color:@syntax-gutter-text-selected;
            }

            &.git-line-modified {
                border: 0;
                &.cursor-line {
                    background:@syntax-gutter-background-selected;
                    color: @syntax-color-modified;
                    border: 0;
                }
            }
            &.git-line-added {
                border: 0;
                &.cursor-line {
                    color: @syntax-color-added;
                    background: @syntax-gutter-background-selected;
                    border: 0;
                }
            }
            &.git-line-removed {
                border: 0;
                &.cursor-line {
                    color: @syntax-color-removed;
                    background: @syntax-gutter-background-selected;
                    border: 0;
                }
            }
        }
    }

    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: mix(@light-gray, @blue, 50%);
    }
    .invisible {
        color: @syntax-text-color;
    }
    .cursor {
        color: @syntax-cursor-color;
    }
    .selection .region {
        background-color: @syntax-selection-color;
    }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
    background-color: transparent;
    border: 3px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
    border: 3px solid @syntax-result-marker-color-selected;
}


.comment {
    color: @gray;
    font-style: italic;
    &.line.double-slash {
        color: @gray;
        font-style: italic;
    }
    &.block {
        color: darken(@lighter-gray, 8%);
        font-style: normal;
    }
}


.constant {
    color: @blue;

    &.character.escape {
        color: @purple;
    }
    &.numeric {
        color: @purple;
    }
    &.language {
        color: @orange;
        font-style: italic;
    }
    &.other.color {
        color: @blue;
    }
    &.other.symbol {
        color: @magenta;
    }
}


.entity {
    &.constant.md {
        color: @magenta;
    }
    &.name {
        &.class, &.type.class {
            color: @blue;
            text-decoration: bold;
        }
        &.function {
            color: @green;

            &.body {
                color: @syntax-text-color;
            }
        }

        &.section {
            color: @blue;
        }
        &.tag {
            color: @purple;
            text-decoration: underline;
        }
        &.type {
            color: @blue;
            font-weight: bold;
        }
    }

    &.other {
        &.inherited-class {
            color: @syntax-text-color;
        }
    }

    &.other.attribute-name {
        color: @blue;
    }
}


.file.entry.list-item {
    &.status-added {
        color: @green;
    }
    &.status-modified {
        color: @blue;
    }
}

.hr.constant.md {
    color: @blue;
}

.invalid.illegal {
    color: @red;
}

.keyword {
    color: @magenta;

    &.other.special-method {
        color: @blue;
    }
    &.other.unit {
        color: @magenta;
    }
}


.markup.underline.link.https.hyperlink {
	color: @green;
}


.meta {
    &.call {
        color: @syntax-text-color;
    }
    &.class {
        color: @green;
        &.body {
            color: @syntax-text-color;
        }
    }

    &.link {
        color: @orange;
    }
    &.require {
        color: @blue;
    }
    &.selector {
        color: @purple;
    }
    &.separator {
        background-color: @dark-gray;
        color: @syntax-text-color;
    }
}


.none {
    color: @syntax-text-color;
}


.punctuation {
    &.definition {
        &.comment {
			color: darken(@lighter-gray, 8%) !important;
        }
        &.string {
            color: @yellow !important;
        }
        &.variable {
            color: @orange;
        }
        &.parameters,
        &.array {
            color: @syntax-text-color;
        }
        &.heading,
        &.identity {
            color: @blue;
        }
        &.bold {
            color: @orange;
            font-weight: bold;
        }
        &.italic {
            color: @purple;
            font-style: italic;
        }
    }

    &.section.method {
        color: @syntax-text-color;
    }
    &.section.block {
        color: @syntax-text-color;
    }
    &.section.embedded {
        color: darken(@red, 10%);
    }
    &.bracket {
        color: @syntax-text-color;
    }
    &.terminator {
        color: @syntax-text-color;
    }
}


.storage {
    color: @blue;
    &.class {
        &.fixme {
            color: darken(@red, 4%) !important;
            font-style: normal !important;
            font-weight: 600 !important;
        }
        &.note {
            color: darken(mix(blue, @green, 55%), 2%) !important;
            font-style: normal !important;
            font-weight: 600 !important;
        }
        &.todo {
            color: mix(@green, @yellow, 50%) !important;
            font-style: normal !important;
            font-weight: 600 !important;
        }
    }
    &.modifier {
        color: @magenta;
    }
    &.type {
        color: @blue;
        &.primitive {
            color: @blue;
        }
        &.annotation {
            color: @orange;
        }
        &.class.todo {
            color: @yellow;
        }
    }
}


.string {
    color: @yellow;
    &.regexp {
        color: @purple;
    }
    &.other.link {
        color: @red;
    }
}


.support {
    &.class {
        color: @syntax-text-color;
    }
    &.function  {
        color: @syntax-text-color;
    }
}

.unordered.list.markup.md {
    color: orange;
}

.variable {
    color: @syntax-text-color;

    &.interpolation {
        color: darken(@red, 10%);
    }
    &.parameter {
        color: @orange;

        &.function {
            color: @syntax-text-color;
        }
    }

    &.other.less {
        color: @syntax-text-color;
    }
}


// atom-text-editor[mini] .scroll-view,
// :host([mini]) .scroll-view {
//     padding-left: 0px;
// }
