// These colors are specific to the theme. Do not use in a package!

@lightest-gray: #DFDFDA;
@lighter-gray: #97A1A1;
@light-gray: #969896;
@gray: #6C6C6C;
@dark-gray: #464444;
@darker-gray: #2D2D28;

@red: #D82323;
@orange: #FE9710;
@yellow: #E6DB74;
// @yellow: #E5DB6C;
// @green: #A6E22E;
@green: #A0DE07;
// @blue: #52E3F6;
@blue: #5FD9F1;
@purple: #AE81FF;
// @magenta: #F92672;
@magenta: #FC1E70;
