// These colors are specific to the theme. Do not use in a package!

@lightest-gray: #E3E9E6;
@lighter-gray: #93A1A1;
@light-gray: #969896;
@comment-gray: #6C6C6C;
@gray: #524F52;
@dark-gray: #383A38;
@darker-gray: #4A4A4A;
@darkest-gray: #282A2E;

@red: #D82323;
@orange: #FD971F;
@light-orange: #F0C674;
@yellow: #FDF5A9;
@light-green: #CBEC6D;
@green: #A6E22E;
@cyan: #8ABEB7;
@blue: #52E3F6;
@purple: #AE81FF;
@pink: #F92672;
