// These colors are specific to the theme. Do not use in a package!

@lightest-gray: #E3E9E6;
@lighter-gray: #93A1A1;
@light-gray: #969896;
@gray: #6C6C6C;
@dark-gray: #474545;
@darker-gray: #303030;
@darkest-gray: #2C2D2A;

@red: #D82323;
@orange: #FD971F;
@yellow: #E6DB74;
@green: #A6E22E;
@blue: #52E3F6;
@purple: #AE81FF;
@magenta: #F92672;
